
~$Схема роботи.xlsx
~$формація на опрацювання.docx
~$elektronna_kafedra.pptx
Артефакти/~$ецифікація вимог.docx
Артефакти/~$хітектура проекту.docx
~$4HOUR.xlsx
Артефакти/~$ан випуску версій.docx
Артефакти/~$Загальні відомості про програмний проект.docx
Артефакти/~$Архітектура проекту.docx
Артефакти/~$інка витрат, поки як є.docx
Артефакти/~$0_Архітектура проекту.docx
Артефакти/~$Оцінка витрат.docx
Артефакти/~$Робочі пакети.docx
